package main

import (
	"net/http"

	"github.com/labstack/echo/v4"
	"github.com/labstack/echo/v4/middleware"
)

func main() {
	e := echo.New()

	e.Use(middleware.Logger())
	e.Use(middleware.Recover())

	e.GET("/api/test", func(c echo.Context) error {
		return c.JSON(http.StatusOK, struct{ Result bool }{Result: true})
	})

	e.Static("/", "ui/dist")

	err := e.Start(":{{ .BackendPort }}")
	if err != nil {
		e.Logger.Fatal(err)
	}
}
